/* Petites améliorations d'aspect */
html,
body {
  height: 100%;
}

body {
  font-family: Inter, system-ui, Segoe UI, Roboto, Arial, sans-serif;
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.291), rgba(255, 255, 255, 0.291)), /* voile plus clair */
    url("/images/fond_clair.jpg"); /* fond clair */
  background-size: cover;          /* l’image s’adapte à la taille de l’écran */
  background-repeat: no-repeat;    /* évite la répétition */
  background-attachment: fixed;    /* fixe le fond en place */
  background-position: center;     /* centre l’image */
}

/* Quand la classe dark est activée */
.dark body {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), /* voile plus foncé */
    url("/images/fond_dark.jpg"); /* fond sombre */
}
